*,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    letter-spacing: 1px;
}


:root {
    --violet: #654191;
    --white: #ffffff;
    --black: #000000;
    --bleu_black: #00041e;
}

body {
    width: 100%;
    height: 100vh;
    background: #fafafa;
    font-size: 1.1rem;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
}

a {
    text-decoration: none;
    color: var(--violet);
}

/* La navbar  */
.nav_list {
    width: 70%;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav_list li {
    cursor: pointer;
    padding: 10px;
}

.nav_list li:hover {
    border-top: var(--violet) solid 4px;
}

#language {
    background-color: #e6e4e4;
    border-radius: 999px;
    border: none;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#logo {
    text-align: center;
}
.main-header h1 {
    color: var(--white);
    margin: 25px 0 25px 0;
    text-transform: uppercase;
}

.main-header button {
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    letter-spacing: 1px;
    font-size: 1.1rem;
    text-transform: uppercase;
}

/* header text */
.header-text {
    width: 50%;
    margin: 0 auto;

}
.header-text p {
    text-align: center;
    margin: 50px auto;
}

/* La selection icon part */
.icon-part {
    color: var(--white);
    background: var(--bleu_black);
    height: auto;
    padding: 50px;
}

.icon-part-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.list-icon-part {
    text-align: center;
    width: 450px;
}

.list-icon-part h3 {
    text-transform: uppercase;
    margin: 20px 0;
}

.icon-part p {
    text-align: center;
    /* margin: 20px 0; */
}

.list-icon-part button {
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    padding: 10px 20px;
    text-align: center;
    display: block;
    letter-spacing: 1px;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin: 20px auto;
}

 /* la section news part */


.header-news {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 100px;
}

.left-part h2 {
    text-transform: uppercase;
    font-weight: 500;
}

.left-part p {
    font-weight: bold;
}

.right-part button {
    background-color: transparent;
    color: var(--black);
    border: 1px solid var(--black);
    padding: 10px 20px;
    text-align: center;
    display: block;
    letter-spacing: 1px;
    font-size: 1.1rem;
    text-transform: uppercase;
}

/* section main new  */
.main-new {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    background-color: #f1f1f1;
}

.new-part {
    width: 350px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.new-part-logo {
    width: 100%;
}

.new-part-logo img {
    width: 100%;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.423));
}

.new-part-text h3 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 20px auto;
}

.new-part-text p {
    font-size: 1.1rem;
    margin: 20px auto;
}

.new-part-text button {
    background-color: transparent;
    color: var(--black);
    border: 1px solid var(--black);
    border-radius: 3px;
    padding: 10px 15px;
    letter-spacing: 1px;
    font-size: 1rem;
    text-transform: uppercase;
}

.new-part-text button:hover {
    background-color: var(--bleu_black);
    border: none;
    color: var(--white);
}

/* la section contact */



/* le footer  */

footer {
    text-align: center;
    background-color: var(--bleu_black);
    color: var(--white);
    padding: 25px;
}

footer h3 {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

footer ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer ul li {
    list-style: none;
    padding: 10px;
}

